version: "3.1"
services:
  web:
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8080
    ports:
      - "8080:8080"
    volumes:
      - .:/var/levenshtein-distance-service
    depends_on:
      - postgres
    networks:
      - microservices
    environment:
      # Logging
      - CONSOLE_LOGGING_HANDLER_MIN_LEVEL=DEBUG
      - CUSTOM_LOGGING
  postgres:
    image: postgres:13.4
    restart: always
    ports:
      - "15432:5432"
    networks:
      - microservices
    environment:
      - POSTGRES_DB=distance_service
      - POSTGRES_USER=maxim
      - POSTGRES_PASSWORD=maxim
  redis:
    # For dev purposes only
    image: "redis:6.2.12-alpine"
    ports:
      - "6379:6379"
    volumes:
      - ./config/redis/redis.conf:/redis.conf
    command: [ "redis-server", "/redis.conf" ]
    networks:
      - microservices

networks:
    microservices: